/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: white;
}
.cadastro-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}
/* Retangulo esquerdo */
.rectangle-large {
    width: 526px;
    height: 100%;
    background: #93B1A6;
    position: absolute;
    top: 0px;
    left: 0px;
}
.botao-login {
    width: 191px; 
    height: 76px; 
    left: 165px; 
    top: 382px; 
    position: absolute; 
    background: #183D3D; 
    border-radius: 22px
}
.Entrar {
    left: 55px; 
    top: 18px;
    position: absolute; 
    color: white; 
    font-size: 32px; 
    font-weight: 400; 
    white-space: nowrap;
}
/* Caixas de entrada */
.input-container {
    width: 526px;
    height: 76px;
    position: absolute;
    background: #93B1A6;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.input-nome {
    left: 720px; 
    top: 240px;
}
.input-email {
    left: 720px; 
    top: 330px;
}
.input-senha {
    left: 720px;
    top: 420px;
}
input {
    flex-grow: 1;
    height: 76px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    padding-left: 70px;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.50);
}
input[type="text"]:focus, input[type="password"]:focus {
     outline: none;
}
.botao-cadastro {
    width: 259px;
    height: 76px;
    background: #183D3D;
    border-radius: 22px;
    position: absolute;
    left: 859px; 
    top: 510px;
}
.Cadastro {
    left: 37px; 
    top: 18px; 
    color: white; 
    font-size: 32px; 
    font-weight: 400;
    position: absolute;
    white-space: nowrap;
}
.texto-esquerda { /* "Bem vindo..." */
    left: 66px;
    top: 196px; 
    color: white; 
    font-size: 40px; 
    font-weight: 600;
    position: absolute;
    word-wrap: break-word;
}
.texto-esquerda2 { /* "Para continuar..." */ 
    width: 355px; 
    height: 51px; 
    left: 85px; 
    top: 266px; 
    text-align: center; 
    color: black; 
    font-size: 24px; 
    font-weight: 400;
    position: absolute;
    word-wrap: break-word;
}
.text { /* Texto dos botões */
    position: absolute;
    white-space: nowrap;
}
.texto1 { /* "Crie uma conta..." */
    left: 836px; 
    top: 44px; 
    color: black; 
    font-size: 40px; 
    font-weight: 600;
    position: absolute;
    white-space: nowrap;
}
.texto2 { /* "ou use seu Email..." */
    width: 416px; 
    height: 51px; left: 775px; 
    top: 185px; 
    text-align: center; 
    color: rgba(0, 0, 0, 0.50); 
    font-size: 24px; 
    font-weight: 400;
    position: absolute;
    word-wrap: break-word;
}

/* Icones de login externo */
.icon-container {
width: 45px;
height: 45px;
position: absolute;
left: 10px;
top: 15px; /* Centralizar verticalmente */
}
.icon-linkedin {
    left: 836px;
    top: 120px;
}
.icon-facebook {
    left: 960px; 
    top: 120px;
}
.icon-google {
    left: 1084px; 
    top: 120px;
}
/* Icones das caixas de entrada */
.input-icon {
width: 30px;
height: 30px;
}
/* Adiciona uma nova regra de mídia query */
@media screen and (max-width: 1260px) {
    .input-nome {
        left: 620px; 
    }
    .input-email {
        left: 620px; 
    }
    .input-senha {
        left: 620px;
    } 
    .botao-cadastro {
        left: 759px; 
    }
    .Cadastro {
        left: 37px; 
     }
    .texto1 {
        left: 736px; 
    }
    .texto2 {
        left: 675px; 
    }
    .icon-linkedin {
        left: 736px;
    }
    .icon-facebook {
        left: 860px; 
    }
    .icon-google {
        left: 984px; 
    }
 }
 /* Adiciona uma nova regra de mídia query */
@media screen and (max-width: 1170px) {
    /* Esconde os elementos quando a largura da janela for menor que 1158px */
    .rectangle-large,
    .texto-esquerda, .texto-esquerda2 {
        display: none;
    }
    /* Move o botão de entrar para uma posição mais conveniente */
    .Entrar {
        left: 95px; 
         top: 18px;
        transform: translateX(-50%); 
    }
    .botao-login {
        top: 630px; 
        left: 50%;
        transform: translateX(-50%); 
    }
  
    /* Movimente todos os elementos mais 200px para a esquerda */
    .input-nome,
    .input-email,
    .input-senha,
    .botao-cadastro,
    .Cadastro,
    .texto1,
    .texto2 {
        left: 50%;
        transform: translate(-50%, 0); /* Centralize horizontalmente */
    }
    /* Centralize os icones horizontalmente de forma diferente para os 3 estarem igualmente espaçados */
    .icon-linkedin {
      left: 25%;
     transform: translateX(-50%);
    }
    .icon-facebook {
       left: 50%;
       transform: translateX(-50%);
    }
    .icon-google {
        left: 75%;
        transform: translateX(-50%);
    }

    .input-container, .texto2 {
        width: 80%; /* Defina a largura como 80% da largura do contêiner pai */
        height: auto; /* Mantenha a altura automática para manter as proporções */
    }
  }